.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Versao-div {
  margin-right: 1px;
  font-size: 0.6rem;
}

.VitaClub {
  display: inline-block;
  width: 350px;
  height: 520px;
  background: #e6e6e6;
  border-radius: 10px;
  color: black
}

.Mais {
  font-size: 40px;
  padding: 0px;
  background: none;
  border: none;
  color: white;
  margin-bottom: -40px;
  margin-right: -290px;
  z-index: 1000;
  cursor: pointer;
}

.Voltar {
  padding: 0px;
  background: none;
  border: none;
  font-size: 29px;
  cursor: pointer;
  position: absolute;
  margin-top: 470px;
  margin-left: -340px;
}

.Pontos_Principal {
  margin-top: -20px;
  border-top: solid black 3px;
  width: 100%;
  flex: grid;
  flex-direction: row;
}

.Pontos_Coluna {
  flex: grid;
  flex-direction: column;
  width: 30%;
  height: 350px;
  display: inline-block;
  vertical-align: middle;
}

.Pontos_Espaco {
  border-right: dashed black 3px;
  width: 1px;
  height: 40px;
  margin: -20px;
}

.Pontos_Numero {
  display: inline-block;
  text-align: center;
  padding: 5px 20px 24px 12px;
  background: #0d99ff;
  color: white;
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.Pontos_Titulo {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: -9px;
}

.Pontos_Descricao {
  font-size: 10px;
  margin: 10px -15px;
}

.Pontos_Mais {
  font-size: 30px;
  padding: 0px 0px 4px 2px;
  border: none;
  color: #0d99ff;
  ;
  background: none;
  position: absolute;
  margin-top: -17px;
  cursor: pointer;
}

.Pontos_Beneficios {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  margin-left: -130px;
  position: absolute;
  border: black 5px solid;
}